<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>
  <p><span class="label label-primary"><%= @post.tag %></span></p>
  <p><%= link_to '수정하기', edit_post_path(@post), class: 'btn btn-success' %>
<%= link_to '뒤로가기', posts_path, class: 'btn btn-default' %>
</p>
</div>